body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray: rgb(236, 102, 173);
  background-image: linear-gradient(to right bottom,#00f260,#0575e6);
  background-image: linear-gradient(to right bottom, #4831d4 67%, #ccf381 33%);
}

::selection{
  background: rgb(71, 219, 219);
}
